.code-snippet,
.code-snippet-inline {
    background-color: #e7e7e7;
    color: var(--secondary-text-color);
    height: 100%;
}

.code-snippet {
    padding: 20px;
}

.code-snippet-inline {
    padding: 4px;
}

.code-snippet > pre {
    margin: 0;
    padding: 0;
}