* {
    box-sizing: border-box;
}

html,
body,
body > main {
    font-size: 1.17em;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100vw;
}

body > main {
    height: 100vh;
}

.bolded {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.display-columns {
    display: flex;
    justify-content: space-evenly;
}

.display-block {
    display: block;
}

.display-columns>* {
    flex-basis: 10vw;
    flex-grow: 1;
    margin: 0 2vw;
}

.display-in-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display-in-column > * {
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.fixed-widht-logo-parent > img {
    width: 128px;
}

.fixed-height-parent,
.fixed-height-parent > * {
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-elements { 
    display: flex;
    align-items: center;
}