:root {
    --dark-primary-color: #1976D2;
    --default-primary-color: #2196F3;
    --light-primary-color: #BBDEFB;
    --text-primary-color: #FFFFFF;
    --accent-color: #FFC107;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;
}

.dark-primary-color    { background: var(--dark-primary-color); }
.default-primary-color { background: var(--default-primary-color); }
.light-primary-color   { background: var(--light-primary-color); }
.text-primary-color    { color: var(--text-primary-color); }
.accent-color          { background: var(--accent-color); }
.primary-text-color    { color: var(--primary-text-color); }
.secondary-text-color  { color: var(--secondary-text-color); }
.divider-color         { border-color: var(--divider-color); }
