section {
    min-height: 100vh;
    padding-bottom: 5vh;
}

section>* {
    padding: 2vh 2vw;
}

section.header-page {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

section>main>p {
    padding: 1vh 2vw;
    text-indent: 2vw;
    text-align: justify;
}

section>header>.header-with-image {
    display: flex;
    align-items: center;
}

section>header {
    background-color: var(--default-primary-color);
    color: var(--text-primary-color);
    padding: 4vh 6vw;
}

section>header>h1,
section>header>h2,
section>header>h3 {
    margin: 0;
}

section > main {
    height: 100%;
    overflow-y: hidden;
}