#table-of-contents {
    border: none;
    border-collapse: collapse;
    padding: 2vh 2vw;
    table-layout: fixed;
    width: 100%;
}

#table-of-contents > tr {
    cursor: pointer;
}

#table-of-contents > tr:hover {
    background-color: var(--dark-primary-color);
    color: var(--text-primary-color);
}

#table-of-contents > tr > td > img {
    height: 33px;
}

#table-of-contents > tr > td {
    padding: 7px;
}

#scroll-to-table-of-contents:active,
#scroll-to-table-of-contents:link,
#scroll-to-table-of-contents:visited {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    position: sticky;
    text-decoration: none;
    top: 93vh;
}

#scroll-to-table-of-contents > img {
    height: 61px;
    width: 61px;
}
