:root
{
    --shittyGrayLight: #C3CDC0;
    --shittyGreenLight: #739A70;
    --shittyGreenDark: #4B852F;
}

#register-form
{
    width: 50vw;
    border: 1px solid var(--shittyGreenDark);
    padding: 1vh;
    min-width: 150px;
}

.register-form-component
{
    width: 100%;
    box-sizing: border-box;
    padding: 0.4vw;
    margin: 0.8vh 0.3vw;
    border-color: var(--shittyGrayLight);
    background-color: white;
}

.register-form-component:not(.green-button):hover
{
    border-color: var(--shittyGreenDark);
}

body
{
    width: 100%;
    background-color: #DEFDF1;
}

.centered
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green-button
{
    background-color: #CFE7D9;
    color: var(--shittyGreenLight);
}

.green-button:hover
{
    background-color: #558D3D;
    color: white;
}